<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.AuthPermissionMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.AuthPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content_type_id" jdbcType="INTEGER" property="contentTypeId" />
    <result column="codename" jdbcType="VARCHAR" property="codename" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.AuthPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content_type_id" jdbcType="INTEGER" property="contentTypeId" />
    <result column="codename" jdbcType="VARCHAR" property="codename" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.AuthPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content_type_id" jdbcType="INTEGER" property="contentTypeId" />
    <result column="codename" jdbcType="VARCHAR" property="codename" />
  </resultMap>
</mapper>