<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.CacheAccountInfoMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.CacheAccountInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
    <result column="college_id" jdbcType="INTEGER" property="collegeId" />
    <result column="orgid" jdbcType="INTEGER" property="orgid" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="account_fullname" jdbcType="VARCHAR" property="accountFullname" />
    <result column="account_status" jdbcType="INTEGER" property="accountStatus" />
    <result column="account_createtime" jdbcType="TIMESTAMP" property="accountCreatetime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheAccountInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
    <result column="college_id" jdbcType="INTEGER" property="collegeId" />
    <result column="orgid" jdbcType="INTEGER" property="orgid" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="account_fullname" jdbcType="VARCHAR" property="accountFullname" />
    <result column="account_status" jdbcType="INTEGER" property="accountStatus" />
    <result column="account_createtime" jdbcType="TIMESTAMP" property="accountCreatetime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheAccountInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
    <result column="college_id" jdbcType="INTEGER" property="collegeId" />
    <result column="orgid" jdbcType="INTEGER" property="orgid" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="account_fullname" jdbcType="VARCHAR" property="accountFullname" />
    <result column="account_status" jdbcType="INTEGER" property="accountStatus" />
    <result column="account_createtime" jdbcType="TIMESTAMP" property="accountCreatetime" />
  </resultMap>
</mapper>