<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.CacheAccountactivitystatisticsMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.CacheAccountactivitystatistics">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accountid" jdbcType="INTEGER" property="accountid" />
    <id column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="destcount" jdbcType="INTEGER" property="destcount" />
    <result column="completedcount" jdbcType="INTEGER" property="completedcount" />
    <result column="studysecond" jdbcType="BIGINT" property="studysecond" />
    <result column="lastlogin" jdbcType="TIMESTAMP" property="lastlogin" />
    <result column="unlearnedcount" jdbcType="INTEGER" property="unlearnedcount" />
    <result column="laststudytime" jdbcType="TIMESTAMP" property="laststudytime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheAccountactivitystatistics">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accountid" jdbcType="INTEGER" property="accountid" />
    <id column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="destcount" jdbcType="INTEGER" property="destcount" />
    <result column="completedcount" jdbcType="INTEGER" property="completedcount" />
    <result column="studysecond" jdbcType="BIGINT" property="studysecond" />
    <result column="lastlogin" jdbcType="TIMESTAMP" property="lastlogin" />
    <result column="unlearnedcount" jdbcType="INTEGER" property="unlearnedcount" />
    <result column="laststudytime" jdbcType="TIMESTAMP" property="laststudytime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheAccountactivitystatistics">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accountid" jdbcType="INTEGER" property="accountid" />
    <id column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="destcount" jdbcType="INTEGER" property="destcount" />
    <result column="completedcount" jdbcType="INTEGER" property="completedcount" />
    <result column="studysecond" jdbcType="BIGINT" property="studysecond" />
    <result column="lastlogin" jdbcType="TIMESTAMP" property="lastlogin" />
    <result column="unlearnedcount" jdbcType="INTEGER" property="unlearnedcount" />
    <result column="laststudytime" jdbcType="TIMESTAMP" property="laststudytime" />
  </resultMap>
</mapper>