<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.CacheOrgInfoMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.CacheOrgInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="orgid" jdbcType="INTEGER" property="orgid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="orgcode" jdbcType="VARCHAR" property="orgcode" />
    <result column="code_path" jdbcType="VARCHAR" property="codePath" />
    <result column="id_path" jdbcType="VARCHAR" property="idPath" />
    <result column="name_path" jdbcType="VARCHAR" property="namePath" />
    <result column="parentorgId" jdbcType="INTEGER" property="parentorgid" />
    <result column="provinceid" jdbcType="INTEGER" property="provinceid" />
    <result column="cityid" jdbcType="INTEGER" property="cityid" />
    <result column="countyid" jdbcType="INTEGER" property="countyid" />
    <result column="orderindex" jdbcType="INTEGER" property="orderindex" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheOrgInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="orgid" jdbcType="INTEGER" property="orgid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="orgcode" jdbcType="VARCHAR" property="orgcode" />
    <result column="code_path" jdbcType="VARCHAR" property="codePath" />
    <result column="id_path" jdbcType="VARCHAR" property="idPath" />
    <result column="name_path" jdbcType="VARCHAR" property="namePath" />
    <result column="parentorgId" jdbcType="INTEGER" property="parentorgid" />
    <result column="provinceid" jdbcType="INTEGER" property="provinceid" />
    <result column="cityid" jdbcType="INTEGER" property="cityid" />
    <result column="countyid" jdbcType="INTEGER" property="countyid" />
    <result column="orderindex" jdbcType="INTEGER" property="orderindex" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheOrgInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="orgid" jdbcType="INTEGER" property="orgid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="orgcode" jdbcType="VARCHAR" property="orgcode" />
    <result column="code_path" jdbcType="VARCHAR" property="codePath" />
    <result column="id_path" jdbcType="VARCHAR" property="idPath" />
    <result column="name_path" jdbcType="VARCHAR" property="namePath" />
    <result column="parentorgId" jdbcType="INTEGER" property="parentorgid" />
    <result column="provinceid" jdbcType="INTEGER" property="provinceid" />
    <result column="cityid" jdbcType="INTEGER" property="cityid" />
    <result column="countyid" jdbcType="INTEGER" property="countyid" />
    <result column="orderindex" jdbcType="INTEGER" property="orderindex" />
  </resultMap>
</mapper>