<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.CacheMemberactivitydescMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.CacheMemberactivitydesc">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="LearningActivityId" jdbcType="INTEGER" property="learningactivityid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logouurl" jdbcType="VARCHAR" property="logouurl" />
    <result column="indexpage" jdbcType="VARCHAR" property="indexpage" />
    <result column="videourl" jdbcType="VARCHAR" property="videourl" />
    <result column="documenturl" jdbcType="VARCHAR" property="documenturl" />
    <result column="zipfile" jdbcType="VARCHAR" property="zipfile" />
    <result column="BannerUrl" jdbcType="VARCHAR" property="bannerurl" />
    <result column="PreviewVideoUrl" jdbcType="VARCHAR" property="previewvideourl" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="acttype" jdbcType="INTEGER" property="acttype" />
    <result column="actsize" jdbcType="DECIMAL" property="actsize" />
    <result column="trainingStartTime" jdbcType="TIMESTAMP" property="trainingstarttime" />
    <result column="trainingEndTime" jdbcType="TIMESTAMP" property="trainingendtime" />
    <result column="trainingSolutionId" jdbcType="INTEGER" property="trainingsolutionid" />
    <result column="commentcount" jdbcType="BIGINT" property="commentcount" />
    <result column="favoritecount" jdbcType="BIGINT" property="favoritecount" />
    <result column="footmarkcount" jdbcType="BIGINT" property="footmarkcount" />
    <result column="threegradepercent" jdbcType="DECIMAL" property="threegradepercent" />
    <result column="foregradepercent" jdbcType="DECIMAL" property="foregradepercent" />
    <result column="fivegradepercent" jdbcType="DECIMAL" property="fivegradepercent" />
    <result column="onegradepercent" jdbcType="DECIMAL" property="onegradepercent" />
    <result column="twogradepercent" jdbcType="DECIMAL" property="twogradepercent" />
    <result column="studiescount" jdbcType="INTEGER" property="studiescount" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="destMemberId" jdbcType="INTEGER" property="destmemberid" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="mem_recommend" jdbcType="BIT" property="memRecommend" />
    <result column="cl_recommend" jdbcType="INTEGER" property="clRecommend" />
    <result column="recommend" jdbcType="BIT" property="recommend" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="required" jdbcType="BIT" property="required" />
    <result column="orderindex" jdbcType="INTEGER" property="orderindex" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheMemberactivitydesc">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="LearningActivityId" jdbcType="INTEGER" property="learningactivityid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logouurl" jdbcType="VARCHAR" property="logouurl" />
    <result column="indexpage" jdbcType="VARCHAR" property="indexpage" />
    <result column="videourl" jdbcType="VARCHAR" property="videourl" />
    <result column="documenturl" jdbcType="VARCHAR" property="documenturl" />
    <result column="zipfile" jdbcType="VARCHAR" property="zipfile" />
    <result column="BannerUrl" jdbcType="VARCHAR" property="bannerurl" />
    <result column="PreviewVideoUrl" jdbcType="VARCHAR" property="previewvideourl" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="acttype" jdbcType="INTEGER" property="acttype" />
    <result column="actsize" jdbcType="DECIMAL" property="actsize" />
    <result column="trainingStartTime" jdbcType="TIMESTAMP" property="trainingstarttime" />
    <result column="trainingEndTime" jdbcType="TIMESTAMP" property="trainingendtime" />
    <result column="trainingSolutionId" jdbcType="INTEGER" property="trainingsolutionid" />
    <result column="commentcount" jdbcType="BIGINT" property="commentcount" />
    <result column="favoritecount" jdbcType="BIGINT" property="favoritecount" />
    <result column="footmarkcount" jdbcType="BIGINT" property="footmarkcount" />
    <result column="threegradepercent" jdbcType="DECIMAL" property="threegradepercent" />
    <result column="foregradepercent" jdbcType="DECIMAL" property="foregradepercent" />
    <result column="fivegradepercent" jdbcType="DECIMAL" property="fivegradepercent" />
    <result column="onegradepercent" jdbcType="DECIMAL" property="onegradepercent" />
    <result column="twogradepercent" jdbcType="DECIMAL" property="twogradepercent" />
    <result column="studiescount" jdbcType="INTEGER" property="studiescount" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="destMemberId" jdbcType="INTEGER" property="destmemberid" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="mem_recommend" jdbcType="BIT" property="memRecommend" />
    <result column="cl_recommend" jdbcType="INTEGER" property="clRecommend" />
    <result column="recommend" jdbcType="BIT" property="recommend" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="required" jdbcType="BIT" property="required" />
    <result column="orderindex" jdbcType="INTEGER" property="orderindex" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheMemberactivitydesc">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="LearningActivityId" jdbcType="INTEGER" property="learningactivityid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logouurl" jdbcType="VARCHAR" property="logouurl" />
    <result column="indexpage" jdbcType="VARCHAR" property="indexpage" />
    <result column="videourl" jdbcType="VARCHAR" property="videourl" />
    <result column="documenturl" jdbcType="VARCHAR" property="documenturl" />
    <result column="zipfile" jdbcType="VARCHAR" property="zipfile" />
    <result column="BannerUrl" jdbcType="VARCHAR" property="bannerurl" />
    <result column="PreviewVideoUrl" jdbcType="VARCHAR" property="previewvideourl" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="acttype" jdbcType="INTEGER" property="acttype" />
    <result column="actsize" jdbcType="DECIMAL" property="actsize" />
    <result column="trainingStartTime" jdbcType="TIMESTAMP" property="trainingstarttime" />
    <result column="trainingEndTime" jdbcType="TIMESTAMP" property="trainingendtime" />
    <result column="trainingSolutionId" jdbcType="INTEGER" property="trainingsolutionid" />
    <result column="commentcount" jdbcType="BIGINT" property="commentcount" />
    <result column="favoritecount" jdbcType="BIGINT" property="favoritecount" />
    <result column="footmarkcount" jdbcType="BIGINT" property="footmarkcount" />
    <result column="threegradepercent" jdbcType="DECIMAL" property="threegradepercent" />
    <result column="foregradepercent" jdbcType="DECIMAL" property="foregradepercent" />
    <result column="fivegradepercent" jdbcType="DECIMAL" property="fivegradepercent" />
    <result column="onegradepercent" jdbcType="DECIMAL" property="onegradepercent" />
    <result column="twogradepercent" jdbcType="DECIMAL" property="twogradepercent" />
    <result column="studiescount" jdbcType="INTEGER" property="studiescount" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="destMemberId" jdbcType="INTEGER" property="destmemberid" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="mem_recommend" jdbcType="BIT" property="memRecommend" />
    <result column="cl_recommend" jdbcType="INTEGER" property="clRecommend" />
    <result column="recommend" jdbcType="BIT" property="recommend" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="required" jdbcType="BIT" property="required" />
    <result column="orderindex" jdbcType="INTEGER" property="orderindex" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
</mapper>