<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.CacheAccountcollegeactiveTmpMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.CacheAccountcollegeactiveTmp">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="memberid" jdbcType="INTEGER" property="memberid" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="orgid" jdbcType="INTEGER" property="orgid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheAccountcollegeactiveTmp">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="memberid" jdbcType="INTEGER" property="memberid" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="orgid" jdbcType="INTEGER" property="orgid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheAccountcollegeactiveTmp">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="memberid" jdbcType="INTEGER" property="memberid" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="orgid" jdbcType="INTEGER" property="orgid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
</mapper>