<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.CacheAccountcoursestatesMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.CacheAccountcoursestates">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="licount" jdbcType="INTEGER" property="licount" />
    <result column="chaptercount" jdbcType="INTEGER" property="chaptercount" />
    <result column="sucessfuled" jdbcType="INTEGER" property="sucessfuled" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheAccountcoursestates">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="licount" jdbcType="INTEGER" property="licount" />
    <result column="chaptercount" jdbcType="INTEGER" property="chaptercount" />
    <result column="sucessfuled" jdbcType="INTEGER" property="sucessfuled" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheAccountcoursestates">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="licount" jdbcType="INTEGER" property="licount" />
    <result column="chaptercount" jdbcType="INTEGER" property="chaptercount" />
    <result column="sucessfuled" jdbcType="INTEGER" property="sucessfuled" />
  </resultMap>
</mapper>