<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.CacheActivitystatisticsTmpMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.CacheActivitystatisticsTmp">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="commentcount" jdbcType="BIGINT" property="commentcount" />
    <result column="favoritecount" jdbcType="BIGINT" property="favoritecount" />
    <result column="footmarkcount" jdbcType="BIGINT" property="footmarkcount" />
    <result column="onegradepercent" jdbcType="DECIMAL" property="onegradepercent" />
    <result column="twogradepercent" jdbcType="DECIMAL" property="twogradepercent" />
    <result column="threegradepercent" jdbcType="DECIMAL" property="threegradepercent" />
    <result column="foregradepercent" jdbcType="DECIMAL" property="foregradepercent" />
    <result column="fivegradepercent" jdbcType="DECIMAL" property="fivegradepercent" />
    <result column="studiescount" jdbcType="INTEGER" property="studiescount" />
    <result column="accountcount" jdbcType="INTEGER" property="accountcount" />
    <result column="studysecond" jdbcType="INTEGER" property="studysecond" />
    <result column="averagesecond" jdbcType="INTEGER" property="averagesecond" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheActivitystatisticsTmp">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="commentcount" jdbcType="BIGINT" property="commentcount" />
    <result column="favoritecount" jdbcType="BIGINT" property="favoritecount" />
    <result column="footmarkcount" jdbcType="BIGINT" property="footmarkcount" />
    <result column="onegradepercent" jdbcType="DECIMAL" property="onegradepercent" />
    <result column="twogradepercent" jdbcType="DECIMAL" property="twogradepercent" />
    <result column="threegradepercent" jdbcType="DECIMAL" property="threegradepercent" />
    <result column="foregradepercent" jdbcType="DECIMAL" property="foregradepercent" />
    <result column="fivegradepercent" jdbcType="DECIMAL" property="fivegradepercent" />
    <result column="studiescount" jdbcType="INTEGER" property="studiescount" />
    <result column="accountcount" jdbcType="INTEGER" property="accountcount" />
    <result column="studysecond" jdbcType="INTEGER" property="studysecond" />
    <result column="averagesecond" jdbcType="INTEGER" property="averagesecond" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.CacheActivitystatisticsTmp">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="commentcount" jdbcType="BIGINT" property="commentcount" />
    <result column="favoritecount" jdbcType="BIGINT" property="favoritecount" />
    <result column="footmarkcount" jdbcType="BIGINT" property="footmarkcount" />
    <result column="onegradepercent" jdbcType="DECIMAL" property="onegradepercent" />
    <result column="twogradepercent" jdbcType="DECIMAL" property="twogradepercent" />
    <result column="threegradepercent" jdbcType="DECIMAL" property="threegradepercent" />
    <result column="foregradepercent" jdbcType="DECIMAL" property="foregradepercent" />
    <result column="fivegradepercent" jdbcType="DECIMAL" property="fivegradepercent" />
    <result column="studiescount" jdbcType="INTEGER" property="studiescount" />
    <result column="accountcount" jdbcType="INTEGER" property="accountcount" />
    <result column="studysecond" jdbcType="INTEGER" property="studysecond" />
    <result column="averagesecond" jdbcType="INTEGER" property="averagesecond" />
  </resultMap>
</mapper>