<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.LiveScheduleMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.LiveSchedule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="scheduleid" jdbcType="INTEGER" property="scheduleid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="presenter" jdbcType="VARCHAR" property="presenter" />
    <result column="expect_duration" jdbcType="INTEGER" property="expectDuration" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
    <result column="real_starttime" jdbcType="TIMESTAMP" property="realStarttime" />
    <result column="real_endtime" jdbcType="TIMESTAMP" property="realEndtime" />
    <result column="live_roomid" jdbcType="INTEGER" property="liveRoomid" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="push_starttime" jdbcType="TIMESTAMP" property="pushStarttime" />
    <result column="push_endtime" jdbcType="TIMESTAMP" property="pushEndtime" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="live_img_url" jdbcType="VARCHAR" property="liveImgUrl" />
    <result column="presenter_img_url" jdbcType="VARCHAR" property="presenterImgUrl" />
    <result column="replay_img_url" jdbcType="VARCHAR" property="replayImgUrl" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.LiveSchedule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="scheduleid" jdbcType="INTEGER" property="scheduleid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="presenter" jdbcType="VARCHAR" property="presenter" />
    <result column="expect_duration" jdbcType="INTEGER" property="expectDuration" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
    <result column="real_starttime" jdbcType="TIMESTAMP" property="realStarttime" />
    <result column="real_endtime" jdbcType="TIMESTAMP" property="realEndtime" />
    <result column="live_roomid" jdbcType="INTEGER" property="liveRoomid" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="push_starttime" jdbcType="TIMESTAMP" property="pushStarttime" />
    <result column="push_endtime" jdbcType="TIMESTAMP" property="pushEndtime" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="live_img_url" jdbcType="VARCHAR" property="liveImgUrl" />
    <result column="presenter_img_url" jdbcType="VARCHAR" property="presenterImgUrl" />
    <result column="replay_img_url" jdbcType="VARCHAR" property="replayImgUrl" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.LiveSchedule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="scheduleid" jdbcType="INTEGER" property="scheduleid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="presenter" jdbcType="VARCHAR" property="presenter" />
    <result column="expect_duration" jdbcType="INTEGER" property="expectDuration" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
    <result column="real_starttime" jdbcType="TIMESTAMP" property="realStarttime" />
    <result column="real_endtime" jdbcType="TIMESTAMP" property="realEndtime" />
    <result column="live_roomid" jdbcType="INTEGER" property="liveRoomid" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="push_starttime" jdbcType="TIMESTAMP" property="pushStarttime" />
    <result column="push_endtime" jdbcType="TIMESTAMP" property="pushEndtime" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="live_img_url" jdbcType="VARCHAR" property="liveImgUrl" />
    <result column="presenter_img_url" jdbcType="VARCHAR" property="presenterImgUrl" />
    <result column="replay_img_url" jdbcType="VARCHAR" property="replayImgUrl" />
  </resultMap>
</mapper>