<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.LoginSignMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.LoginSign">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="app_secret" jdbcType="VARCHAR" property="appSecret" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.LoginSign">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="app_secret" jdbcType="VARCHAR" property="appSecret" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.LoginSign">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="app_secret" jdbcType="VARCHAR" property="appSecret" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
</mapper>