<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.RptPolyvLogMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.RptPolyvLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="logid" jdbcType="INTEGER" property="logid" />
    <result column="videoid" jdbcType="INTEGER" property="videoid" />
    <result column="logdate" jdbcType="TIMESTAMP" property="logdate" />
    <result column="play_duration" jdbcType="INTEGER" property="playDuration" />
    <result column="stay_duration" jdbcType="INTEGER" property="stayDuration" />
    <result column="current_times" jdbcType="INTEGER" property="currentTimes" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="flow_size" jdbcType="INTEGER" property="flowSize" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="created_time" jdbcType="INTEGER" property="createdTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.RptPolyvLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="logid" jdbcType="INTEGER" property="logid" />
    <result column="videoid" jdbcType="INTEGER" property="videoid" />
    <result column="logdate" jdbcType="TIMESTAMP" property="logdate" />
    <result column="play_duration" jdbcType="INTEGER" property="playDuration" />
    <result column="stay_duration" jdbcType="INTEGER" property="stayDuration" />
    <result column="current_times" jdbcType="INTEGER" property="currentTimes" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="flow_size" jdbcType="INTEGER" property="flowSize" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="created_time" jdbcType="INTEGER" property="createdTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.RptPolyvLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="logid" jdbcType="INTEGER" property="logid" />
    <result column="videoid" jdbcType="INTEGER" property="videoid" />
    <result column="logdate" jdbcType="TIMESTAMP" property="logdate" />
    <result column="play_duration" jdbcType="INTEGER" property="playDuration" />
    <result column="stay_duration" jdbcType="INTEGER" property="stayDuration" />
    <result column="current_times" jdbcType="INTEGER" property="currentTimes" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="flow_size" jdbcType="INTEGER" property="flowSize" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="created_time" jdbcType="INTEGER" property="createdTime" />
  </resultMap>
</mapper>