<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.SfApiInfoMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.SfApiInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="api_infoid" jdbcType="INTEGER" property="apiInfoid" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="service_id" jdbcType="INTEGER" property="serviceId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.SfApiInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="api_infoid" jdbcType="INTEGER" property="apiInfoid" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="service_id" jdbcType="INTEGER" property="serviceId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.SfApiInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="api_infoid" jdbcType="INTEGER" property="apiInfoid" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="service_id" jdbcType="INTEGER" property="serviceId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
</mapper>