<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.SfServicepermissionMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.SfServicepermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="servicepermission_id" jdbcType="INTEGER" property="servicepermissionId" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="app_secret" jdbcType="VARCHAR" property="appSecret" />
    <result column="dest_service_id" jdbcType="INTEGER" property="destServiceId" />
    <result column="source_service_id" jdbcType="INTEGER" property="sourceServiceId" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.SfServicepermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="servicepermission_id" jdbcType="INTEGER" property="servicepermissionId" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="app_secret" jdbcType="VARCHAR" property="appSecret" />
    <result column="dest_service_id" jdbcType="INTEGER" property="destServiceId" />
    <result column="source_service_id" jdbcType="INTEGER" property="sourceServiceId" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.SfServicepermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="servicepermission_id" jdbcType="INTEGER" property="servicepermissionId" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="app_secret" jdbcType="VARCHAR" property="appSecret" />
    <result column="dest_service_id" jdbcType="INTEGER" property="destServiceId" />
    <result column="source_service_id" jdbcType="INTEGER" property="sourceServiceId" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
</mapper>