<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.SysEventlogMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.SysEventlog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="eventid" jdbcType="INTEGER" property="eventid" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="eventype" jdbcType="VARCHAR" property="eventype" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.SysEventlog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="eventid" jdbcType="INTEGER" property="eventid" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="eventype" jdbcType="VARCHAR" property="eventype" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.SysEventlog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="eventid" jdbcType="INTEGER" property="eventid" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="eventype" jdbcType="VARCHAR" property="eventype" />
  </resultMap>
</mapper>