<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.TmpJbzhMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.TmpJbzh">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.TmpJbzh">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.TmpJbzh">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
</mapper>