<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbAccountresearchMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbAccountresearch">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accountsurveyId" jdbcType="INTEGER" property="accountsurveyid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="surveyId" jdbcType="INTEGER" property="surveyid" />
    <result column="researchId" jdbcType="INTEGER" property="researchid" />
    <result column="commited" jdbcType="BIT" property="commited" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbAccountresearch">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accountsurveyId" jdbcType="INTEGER" property="accountsurveyid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="surveyId" jdbcType="INTEGER" property="surveyid" />
    <result column="researchId" jdbcType="INTEGER" property="researchid" />
    <result column="commited" jdbcType="BIT" property="commited" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbAccountresearch">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accountsurveyId" jdbcType="INTEGER" property="accountsurveyid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="surveyId" jdbcType="INTEGER" property="surveyid" />
    <result column="researchId" jdbcType="INTEGER" property="researchid" />
    <result column="commited" jdbcType="BIT" property="commited" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
</mapper>