<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbAccountinformationMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbAccountinformation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accountInformationId" jdbcType="INTEGER" property="accountinformationid" />
    <result column="learningInformationId" jdbcType="INTEGER" property="learninginformationid" />
    <result column="learningActivityId" jdbcType="INTEGER" property="learningactivityid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="openTime" jdbcType="TIMESTAMP" property="opentime" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="overed" jdbcType="BIT" property="overed" />
    <result column="end" jdbcType="INTEGER" property="end" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbAccountinformation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accountInformationId" jdbcType="INTEGER" property="accountinformationid" />
    <result column="learningInformationId" jdbcType="INTEGER" property="learninginformationid" />
    <result column="learningActivityId" jdbcType="INTEGER" property="learningactivityid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="openTime" jdbcType="TIMESTAMP" property="opentime" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="overed" jdbcType="BIT" property="overed" />
    <result column="end" jdbcType="INTEGER" property="end" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbAccountinformation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accountInformationId" jdbcType="INTEGER" property="accountinformationid" />
    <result column="learningInformationId" jdbcType="INTEGER" property="learninginformationid" />
    <result column="learningActivityId" jdbcType="INTEGER" property="learningactivityid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="openTime" jdbcType="TIMESTAMP" property="opentime" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="overed" jdbcType="BIT" property="overed" />
    <result column="end" jdbcType="INTEGER" property="end" />
  </resultMap>
</mapper>