<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbAccountscheduleMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbAccountschedule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accountscheduleId" jdbcType="INTEGER" property="accountscheduleid" />
    <result column="learningScheduleId" jdbcType="INTEGER" property="learningscheduleid" />
    <result column="learningActivityId" jdbcType="INTEGER" property="learningactivityid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="checkintime" jdbcType="TIMESTAMP" property="checkintime" />
    <result column="opr" jdbcType="INTEGER" property="opr" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbAccountschedule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accountscheduleId" jdbcType="INTEGER" property="accountscheduleid" />
    <result column="learningScheduleId" jdbcType="INTEGER" property="learningscheduleid" />
    <result column="learningActivityId" jdbcType="INTEGER" property="learningactivityid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="checkintime" jdbcType="TIMESTAMP" property="checkintime" />
    <result column="opr" jdbcType="INTEGER" property="opr" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbAccountschedule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accountscheduleId" jdbcType="INTEGER" property="accountscheduleid" />
    <result column="learningScheduleId" jdbcType="INTEGER" property="learningscheduleid" />
    <result column="learningActivityId" jdbcType="INTEGER" property="learningactivityid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="checkintime" jdbcType="TIMESTAMP" property="checkintime" />
    <result column="opr" jdbcType="INTEGER" property="opr" />
  </resultMap>
</mapper>