<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbAnonymousPermissionMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbAnonymousPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="anonymousId" jdbcType="INTEGER" property="anonymousid" />
    <result column="page_name" jdbcType="VARCHAR" property="pageName" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="createuserid" jdbcType="INTEGER" property="createuserid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbAnonymousPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="anonymousId" jdbcType="INTEGER" property="anonymousid" />
    <result column="page_name" jdbcType="VARCHAR" property="pageName" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="createuserid" jdbcType="INTEGER" property="createuserid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbAnonymousPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="anonymousId" jdbcType="INTEGER" property="anonymousid" />
    <result column="page_name" jdbcType="VARCHAR" property="pageName" />
    <result column="collegeid" jdbcType="INTEGER" property="collegeid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="createuserid" jdbcType="INTEGER" property="createuserid" />
  </resultMap>
</mapper>