<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbAnswercontentMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbAnswercontent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="answerContentId" jdbcType="INTEGER" property="answercontentid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="answerId" jdbcType="INTEGER" property="answerid" />
    <result column="accountExamId" jdbcType="INTEGER" property="accountexamid" />
    <result column="recordeid" jdbcType="INTEGER" property="recordeid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbAnswercontent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="answerContentId" jdbcType="INTEGER" property="answercontentid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="answerId" jdbcType="INTEGER" property="answerid" />
    <result column="accountExamId" jdbcType="INTEGER" property="accountexamid" />
    <result column="recordeid" jdbcType="INTEGER" property="recordeid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbAnswercontent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="answerContentId" jdbcType="INTEGER" property="answercontentid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="answerId" jdbcType="INTEGER" property="answerid" />
    <result column="accountExamId" jdbcType="INTEGER" property="accountexamid" />
    <result column="recordeid" jdbcType="INTEGER" property="recordeid" />
  </resultMap>
</mapper>