<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbActivitymemberdestribMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbActivitymemberdestrib">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="memberDestribId" jdbcType="INTEGER" property="memberdestribid" />
    <result column="orgDistributId" jdbcType="INTEGER" property="orgdistributid" />
    <result column="destMemberId" jdbcType="INTEGER" property="destmemberid" />
    <result column="solutionId" jdbcType="INTEGER" property="solutionid" />
    <result column="learningActivityId" jdbcType="INTEGER" property="learningactivityid" />
    <result column="ownerId" jdbcType="INTEGER" property="ownerid" />
    <result column="required" jdbcType="BIT" property="required" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="recommend" jdbcType="BIT" property="recommend" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="activitycollegeid" jdbcType="INTEGER" property="activitycollegeid" />
    <result column="activityenterpriseid" jdbcType="INTEGER" property="activityenterpriseid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbActivitymemberdestrib">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="memberDestribId" jdbcType="INTEGER" property="memberdestribid" />
    <result column="orgDistributId" jdbcType="INTEGER" property="orgdistributid" />
    <result column="destMemberId" jdbcType="INTEGER" property="destmemberid" />
    <result column="solutionId" jdbcType="INTEGER" property="solutionid" />
    <result column="learningActivityId" jdbcType="INTEGER" property="learningactivityid" />
    <result column="ownerId" jdbcType="INTEGER" property="ownerid" />
    <result column="required" jdbcType="BIT" property="required" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="recommend" jdbcType="BIT" property="recommend" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="activitycollegeid" jdbcType="INTEGER" property="activitycollegeid" />
    <result column="activityenterpriseid" jdbcType="INTEGER" property="activityenterpriseid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbActivitymemberdestrib">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="memberDestribId" jdbcType="INTEGER" property="memberdestribid" />
    <result column="orgDistributId" jdbcType="INTEGER" property="orgdistributid" />
    <result column="destMemberId" jdbcType="INTEGER" property="destmemberid" />
    <result column="solutionId" jdbcType="INTEGER" property="solutionid" />
    <result column="learningActivityId" jdbcType="INTEGER" property="learningactivityid" />
    <result column="ownerId" jdbcType="INTEGER" property="ownerid" />
    <result column="required" jdbcType="BIT" property="required" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="recommend" jdbcType="BIT" property="recommend" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="activitycollegeid" jdbcType="INTEGER" property="activitycollegeid" />
    <result column="activityenterpriseid" jdbcType="INTEGER" property="activityenterpriseid" />
  </resultMap>
</mapper>