<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbDistribsolutionMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbDistribsolution">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="solutionId" jdbcType="INTEGER" property="solutionid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="distribTime" jdbcType="TIMESTAMP" property="distribtime" />
    <result column="memberId" jdbcType="INTEGER" property="memberid" />
    <result column="destObject" jdbcType="INTEGER" property="destobject" />
    <result column="sourceEnterpriseId" jdbcType="INTEGER" property="sourceenterpriseid" />
    <result column="sourceCollegeId" jdbcType="INTEGER" property="sourcecollegeid" />
    <result column="required" jdbcType="BIT" property="required" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="destCollegeId" jdbcType="INTEGER" property="destcollegeid" />
    <result column="destCount" jdbcType="INTEGER" property="destcount" />
    <result column="limit" jdbcType="BIT" property="limit" />
    <result column="public" jdbcType="INTEGER" property="public" />
    <result column="recommend" jdbcType="INTEGER" property="recommend" />
    <result column="infinite" jdbcType="INTEGER" property="infinite" />
    <result column="destcode" jdbcType="VARCHAR" property="destcode" />
    <result column="destvalid" jdbcType="INTEGER" property="destvalid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbDistribsolution">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="solutionId" jdbcType="INTEGER" property="solutionid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="distribTime" jdbcType="TIMESTAMP" property="distribtime" />
    <result column="memberId" jdbcType="INTEGER" property="memberid" />
    <result column="destObject" jdbcType="INTEGER" property="destobject" />
    <result column="sourceEnterpriseId" jdbcType="INTEGER" property="sourceenterpriseid" />
    <result column="sourceCollegeId" jdbcType="INTEGER" property="sourcecollegeid" />
    <result column="required" jdbcType="BIT" property="required" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="destCollegeId" jdbcType="INTEGER" property="destcollegeid" />
    <result column="destCount" jdbcType="INTEGER" property="destcount" />
    <result column="limit" jdbcType="BIT" property="limit" />
    <result column="public" jdbcType="INTEGER" property="public" />
    <result column="recommend" jdbcType="INTEGER" property="recommend" />
    <result column="infinite" jdbcType="INTEGER" property="infinite" />
    <result column="destcode" jdbcType="VARCHAR" property="destcode" />
    <result column="destvalid" jdbcType="INTEGER" property="destvalid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbDistribsolution">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="solutionId" jdbcType="INTEGER" property="solutionid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="distribTime" jdbcType="TIMESTAMP" property="distribtime" />
    <result column="memberId" jdbcType="INTEGER" property="memberid" />
    <result column="destObject" jdbcType="INTEGER" property="destobject" />
    <result column="sourceEnterpriseId" jdbcType="INTEGER" property="sourceenterpriseid" />
    <result column="sourceCollegeId" jdbcType="INTEGER" property="sourcecollegeid" />
    <result column="required" jdbcType="BIT" property="required" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="destCollegeId" jdbcType="INTEGER" property="destcollegeid" />
    <result column="destCount" jdbcType="INTEGER" property="destcount" />
    <result column="limit" jdbcType="BIT" property="limit" />
    <result column="public" jdbcType="INTEGER" property="public" />
    <result column="recommend" jdbcType="INTEGER" property="recommend" />
    <result column="infinite" jdbcType="INTEGER" property="infinite" />
    <result column="destcode" jdbcType="VARCHAR" property="destcode" />
    <result column="destvalid" jdbcType="INTEGER" property="destvalid" />
  </resultMap>
</mapper>