<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbDocumentpagesMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbDocumentpages">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pageid" jdbcType="INTEGER" property="pageid" />
    <result column="chapterid" jdbcType="INTEGER" property="chapterid" />
    <result column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="pageurl" jdbcType="VARCHAR" property="pageurl" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="height" jdbcType="INTEGER" property="height" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbDocumentpages">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pageid" jdbcType="INTEGER" property="pageid" />
    <result column="chapterid" jdbcType="INTEGER" property="chapterid" />
    <result column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="pageurl" jdbcType="VARCHAR" property="pageurl" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="height" jdbcType="INTEGER" property="height" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbDocumentpages">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pageid" jdbcType="INTEGER" property="pageid" />
    <result column="chapterid" jdbcType="INTEGER" property="chapterid" />
    <result column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="pageurl" jdbcType="VARCHAR" property="pageurl" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="height" jdbcType="INTEGER" property="height" />
  </resultMap>
</mapper>