<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbEnterpriseMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbEnterprise">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="shortname" jdbcType="VARCHAR" property="shortname" />
    <result column="enname" jdbcType="VARCHAR" property="enname" />
    <result column="portalurl" jdbcType="VARCHAR" property="portalurl" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="trade" jdbcType="INTEGER" property="trade" />
    <result column="employeenumber" jdbcType="INTEGER" property="employeenumber" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="allowNoEmailLogin" jdbcType="BIT" property="allownoemaillogin" />
    <result column="suffix" jdbcType="VARCHAR" property="suffix" />
    <result column="collegecount" jdbcType="INTEGER" property="collegecount" />
    <result column="admincount" jdbcType="INTEGER" property="admincount" />
    <result column="logourl" jdbcType="VARCHAR" property="logourl" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbEnterprise">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="shortname" jdbcType="VARCHAR" property="shortname" />
    <result column="enname" jdbcType="VARCHAR" property="enname" />
    <result column="portalurl" jdbcType="VARCHAR" property="portalurl" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="trade" jdbcType="INTEGER" property="trade" />
    <result column="employeenumber" jdbcType="INTEGER" property="employeenumber" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="allowNoEmailLogin" jdbcType="BIT" property="allownoemaillogin" />
    <result column="suffix" jdbcType="VARCHAR" property="suffix" />
    <result column="collegecount" jdbcType="INTEGER" property="collegecount" />
    <result column="admincount" jdbcType="INTEGER" property="admincount" />
    <result column="logourl" jdbcType="VARCHAR" property="logourl" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbEnterprise">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="shortname" jdbcType="VARCHAR" property="shortname" />
    <result column="enname" jdbcType="VARCHAR" property="enname" />
    <result column="portalurl" jdbcType="VARCHAR" property="portalurl" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="trade" jdbcType="INTEGER" property="trade" />
    <result column="employeenumber" jdbcType="INTEGER" property="employeenumber" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="allowNoEmailLogin" jdbcType="BIT" property="allownoemaillogin" />
    <result column="suffix" jdbcType="VARCHAR" property="suffix" />
    <result column="collegecount" jdbcType="INTEGER" property="collegecount" />
    <result column="admincount" jdbcType="INTEGER" property="admincount" />
    <result column="logourl" jdbcType="VARCHAR" property="logourl" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
  </resultMap>
</mapper>