<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbEnterpriseaccountMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbEnterpriseaccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="enterpriseaccountid" jdbcType="INTEGER" property="enterpriseaccountid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="userrole" jdbcType="VARCHAR" property="userrole" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbEnterpriseaccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="enterpriseaccountid" jdbcType="INTEGER" property="enterpriseaccountid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="userrole" jdbcType="VARCHAR" property="userrole" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbEnterpriseaccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="enterpriseaccountid" jdbcType="INTEGER" property="enterpriseaccountid" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="userrole" jdbcType="VARCHAR" property="userrole" />
  </resultMap>
</mapper>