<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbFeedbackMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbFeedback">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="feedbackId" jdbcType="INTEGER" property="feedbackid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="feedbacktime" jdbcType="TIMESTAMP" property="feedbacktime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbFeedback">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="feedbackId" jdbcType="INTEGER" property="feedbackid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="feedbacktime" jdbcType="TIMESTAMP" property="feedbacktime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbFeedback">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="feedbackId" jdbcType="INTEGER" property="feedbackid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="feedbacktime" jdbcType="TIMESTAMP" property="feedbacktime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
  </resultMap>
</mapper>