<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbIssueMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbIssue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="issueid" jdbcType="INTEGER" property="issueid" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="orderindex" jdbcType="INTEGER" property="orderindex" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="parent_issueid" jdbcType="INTEGER" property="parentIssueid" />
    <result column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="require_count" jdbcType="INTEGER" property="requireCount" />
    <result column="issue_type" jdbcType="INTEGER" property="issueType" />
    <result column="min_period" jdbcType="REAL" property="minPeriod" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbIssue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="issueid" jdbcType="INTEGER" property="issueid" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="orderindex" jdbcType="INTEGER" property="orderindex" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="parent_issueid" jdbcType="INTEGER" property="parentIssueid" />
    <result column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="require_count" jdbcType="INTEGER" property="requireCount" />
    <result column="issue_type" jdbcType="INTEGER" property="issueType" />
    <result column="min_period" jdbcType="REAL" property="minPeriod" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbIssue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="issueid" jdbcType="INTEGER" property="issueid" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="orderindex" jdbcType="INTEGER" property="orderindex" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="parent_issueid" jdbcType="INTEGER" property="parentIssueid" />
    <result column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="require_count" jdbcType="INTEGER" property="requireCount" />
    <result column="issue_type" jdbcType="INTEGER" property="issueType" />
    <result column="min_period" jdbcType="REAL" property="minPeriod" />
  </resultMap>
</mapper>