<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbInfopackMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbInfopack">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="infoPackId" jdbcType="INTEGER" property="infopackid" />
    <result column="trainingProgramId" jdbcType="INTEGER" property="trainingprogramid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="orderIndex" jdbcType="INTEGER" property="orderindex" />
    <result column="logoUrl" jdbcType="VARCHAR" property="logourl" />
    <result column="cellCount" jdbcType="INTEGER" property="cellcount" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbInfopack">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="infoPackId" jdbcType="INTEGER" property="infopackid" />
    <result column="trainingProgramId" jdbcType="INTEGER" property="trainingprogramid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="orderIndex" jdbcType="INTEGER" property="orderindex" />
    <result column="logoUrl" jdbcType="VARCHAR" property="logourl" />
    <result column="cellCount" jdbcType="INTEGER" property="cellcount" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbInfopack">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="infoPackId" jdbcType="INTEGER" property="infopackid" />
    <result column="trainingProgramId" jdbcType="INTEGER" property="trainingprogramid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="orderIndex" jdbcType="INTEGER" property="orderindex" />
    <result column="logoUrl" jdbcType="VARCHAR" property="logourl" />
    <result column="cellCount" jdbcType="INTEGER" property="cellcount" />
  </resultMap>
</mapper>