<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbMessageaccountMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbMessageaccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="messageaccountId" jdbcType="INTEGER" property="messageaccountid" />
    <result column="messageId" jdbcType="INTEGER" property="messageid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="readed" jdbcType="BIT" property="readed" />
    <result column="readtime" jdbcType="TIMESTAMP" property="readtime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbMessageaccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="messageaccountId" jdbcType="INTEGER" property="messageaccountid" />
    <result column="messageId" jdbcType="INTEGER" property="messageid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="readed" jdbcType="BIT" property="readed" />
    <result column="readtime" jdbcType="TIMESTAMP" property="readtime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbMessageaccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="messageaccountId" jdbcType="INTEGER" property="messageaccountid" />
    <result column="messageId" jdbcType="INTEGER" property="messageid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="readed" jdbcType="BIT" property="readed" />
    <result column="readtime" jdbcType="TIMESTAMP" property="readtime" />
  </resultMap>
</mapper>