<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbMemberMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbMember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="memberId" jdbcType="INTEGER" property="memberid" />
    <result column="ordId" jdbcType="INTEGER" property="ordid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="activities" jdbcType="INTEGER" property="activities" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="membertype" jdbcType="INTEGER" property="membertype" />
    <result column="workno" jdbcType="VARCHAR" property="workno" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="org_custom_name" jdbcType="VARCHAR" property="orgCustomName" />
    <result column="org_second_id" jdbcType="INTEGER" property="orgSecondId" />
    <result column="position" jdbcType="VARCHAR" property="position" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbMember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="memberId" jdbcType="INTEGER" property="memberid" />
    <result column="ordId" jdbcType="INTEGER" property="ordid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="activities" jdbcType="INTEGER" property="activities" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="membertype" jdbcType="INTEGER" property="membertype" />
    <result column="workno" jdbcType="VARCHAR" property="workno" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="org_custom_name" jdbcType="VARCHAR" property="orgCustomName" />
    <result column="org_second_id" jdbcType="INTEGER" property="orgSecondId" />
    <result column="position" jdbcType="VARCHAR" property="position" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbMember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="memberId" jdbcType="INTEGER" property="memberid" />
    <result column="ordId" jdbcType="INTEGER" property="ordid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="activities" jdbcType="INTEGER" property="activities" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="membertype" jdbcType="INTEGER" property="membertype" />
    <result column="workno" jdbcType="VARCHAR" property="workno" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="org_custom_name" jdbcType="VARCHAR" property="orgCustomName" />
    <result column="org_second_id" jdbcType="INTEGER" property="orgSecondId" />
    <result column="position" jdbcType="VARCHAR" property="position" />
  </resultMap>
</mapper>