<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbPwdrecordeMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbPwdrecorde">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pwdrecordeid" jdbcType="INTEGER" property="pwdrecordeid" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="changed_time" jdbcType="TIMESTAMP" property="changedTime" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbPwdrecorde">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pwdrecordeid" jdbcType="INTEGER" property="pwdrecordeid" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="changed_time" jdbcType="TIMESTAMP" property="changedTime" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbPwdrecorde">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pwdrecordeid" jdbcType="INTEGER" property="pwdrecordeid" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="changed_time" jdbcType="TIMESTAMP" property="changedTime" />
    <result column="enterpriseid" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
</mapper>