<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbResearchMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbResearch">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="researchId" jdbcType="INTEGER" property="researchid" />
    <result column="surveyId" jdbcType="INTEGER" property="surveyid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="logourl" jdbcType="VARCHAR" property="logourl" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
    <result column="public" jdbcType="TINYINT" property="public" />
    <result column="recommend" jdbcType="TINYINT" property="recommend" />
    <result column="research_url" jdbcType="VARCHAR" property="researchUrl" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbResearch">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="researchId" jdbcType="INTEGER" property="researchid" />
    <result column="surveyId" jdbcType="INTEGER" property="surveyid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="logourl" jdbcType="VARCHAR" property="logourl" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
    <result column="public" jdbcType="TINYINT" property="public" />
    <result column="recommend" jdbcType="TINYINT" property="recommend" />
    <result column="research_url" jdbcType="VARCHAR" property="researchUrl" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbResearch">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="researchId" jdbcType="INTEGER" property="researchid" />
    <result column="surveyId" jdbcType="INTEGER" property="surveyid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="logourl" jdbcType="VARCHAR" property="logourl" />
    <result column="states" jdbcType="INTEGER" property="states" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
    <result column="public" jdbcType="TINYINT" property="public" />
    <result column="recommend" jdbcType="TINYINT" property="recommend" />
    <result column="research_url" jdbcType="VARCHAR" property="researchUrl" />
  </resultMap>
</mapper>