<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbRoleMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="roleId" jdbcType="INTEGER" property="roleid" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="isopr" jdbcType="BIT" property="isopr" />
    <result column="permissionGroupId" jdbcType="INTEGER" property="permissiongroupid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="roleId" jdbcType="INTEGER" property="roleid" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="isopr" jdbcType="BIT" property="isopr" />
    <result column="permissionGroupId" jdbcType="INTEGER" property="permissiongroupid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="roleId" jdbcType="INTEGER" property="roleid" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
    <result column="accountId" jdbcType="INTEGER" property="accountid" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="isopr" jdbcType="BIT" property="isopr" />
    <result column="permissionGroupId" jdbcType="INTEGER" property="permissiongroupid" />
  </resultMap>
</mapper>