<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbScormLogMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbScormLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="logid" jdbcType="INTEGER" property="logid" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="scormid" jdbcType="INTEGER" property="scormid" />
    <result column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="recordeid" jdbcType="INTEGER" property="recordeid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbScormLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="logid" jdbcType="INTEGER" property="logid" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="scormid" jdbcType="INTEGER" property="scormid" />
    <result column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="recordeid" jdbcType="INTEGER" property="recordeid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbScormLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="logid" jdbcType="INTEGER" property="logid" />
    <result column="accountid" jdbcType="INTEGER" property="accountid" />
    <result column="scormid" jdbcType="INTEGER" property="scormid" />
    <result column="learningactivityid" jdbcType="INTEGER" property="learningactivityid" />
    <result column="recordeid" jdbcType="INTEGER" property="recordeid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
</mapper>