<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbTrainingsupplierMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbTrainingsupplier">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="trainingSupplierId" jdbcType="INTEGER" property="trainingsupplierid" />
    <result column="supplierId" jdbcType="INTEGER" property="supplierid" />
    <result column="trainingSolutionId" jdbcType="INTEGER" property="trainingsolutionid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbTrainingsupplier">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="trainingSupplierId" jdbcType="INTEGER" property="trainingsupplierid" />
    <result column="supplierId" jdbcType="INTEGER" property="supplierid" />
    <result column="trainingSolutionId" jdbcType="INTEGER" property="trainingsolutionid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbTrainingsupplier">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="trainingSupplierId" jdbcType="INTEGER" property="trainingsupplierid" />
    <result column="supplierId" jdbcType="INTEGER" property="supplierid" />
    <result column="trainingSolutionId" jdbcType="INTEGER" property="trainingsolutionid" />
  </resultMap>
</mapper>