<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbTeacherMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbTeacher">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="teacherId" jdbcType="INTEGER" property="teacherid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="supplierId" jdbcType="INTEGER" property="supplierid" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbTeacher">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="teacherId" jdbcType="INTEGER" property="teacherid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="supplierId" jdbcType="INTEGER" property="supplierid" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbTeacher">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="teacherId" jdbcType="INTEGER" property="teacherid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="supplierId" jdbcType="INTEGER" property="supplierid" />
    <result column="collegeId" jdbcType="INTEGER" property="collegeid" />
    <result column="enterpriseId" jdbcType="INTEGER" property="enterpriseid" />
  </resultMap>
</mapper>