<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VmbVoteitemMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VmbVoteitem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="voteitemid" jdbcType="INTEGER" property="voteitemid" />
    <result column="votesolutionid" jdbcType="INTEGER" property="votesolutionid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="itemlogourl" jdbcType="VARCHAR" property="itemlogourl" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbVoteitem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="voteitemid" jdbcType="INTEGER" property="voteitemid" />
    <result column="votesolutionid" jdbcType="INTEGER" property="votesolutionid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="itemlogourl" jdbcType="VARCHAR" property="itemlogourl" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VmbVoteitem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="voteitemid" jdbcType="INTEGER" property="voteitemid" />
    <result column="votesolutionid" jdbcType="INTEGER" property="votesolutionid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="itemlogourl" jdbcType="VARCHAR" property="itemlogourl" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
</mapper>