<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VwCollegeActivityStatisticsMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VwCollegeActivityStatistics">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="learningactivityid" jdbcType="TINYINT" property="learningactivityid" />
    <result column="collegeid" jdbcType="TINYINT" property="collegeid" />
    <result column="commentcount" jdbcType="TINYINT" property="commentcount" />
    <result column="favoritecount" jdbcType="TINYINT" property="favoritecount" />
    <result column="footmarkcount" jdbcType="TINYINT" property="footmarkcount" />
    <result column="studiescount" jdbcType="TINYINT" property="studiescount" />
    <result column="onegradepercent" jdbcType="TINYINT" property="onegradepercent" />
    <result column="twogradepercent" jdbcType="TINYINT" property="twogradepercent" />
    <result column="threegradepercent" jdbcType="TINYINT" property="threegradepercent" />
    <result column="foregradepercent" jdbcType="TINYINT" property="foregradepercent" />
    <result column="fivegradepercent" jdbcType="TINYINT" property="fivegradepercent" />
    <result column="studysecond" jdbcType="TINYINT" property="studysecond" />
    <result column="averagesecond" jdbcType="TINYINT" property="averagesecond" />
    <result column="accountcount" jdbcType="TINYINT" property="accountcount" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VwCollegeActivityStatistics">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="learningactivityid" jdbcType="TINYINT" property="learningactivityid" />
    <result column="collegeid" jdbcType="TINYINT" property="collegeid" />
    <result column="commentcount" jdbcType="TINYINT" property="commentcount" />
    <result column="favoritecount" jdbcType="TINYINT" property="favoritecount" />
    <result column="footmarkcount" jdbcType="TINYINT" property="footmarkcount" />
    <result column="studiescount" jdbcType="TINYINT" property="studiescount" />
    <result column="onegradepercent" jdbcType="TINYINT" property="onegradepercent" />
    <result column="twogradepercent" jdbcType="TINYINT" property="twogradepercent" />
    <result column="threegradepercent" jdbcType="TINYINT" property="threegradepercent" />
    <result column="foregradepercent" jdbcType="TINYINT" property="foregradepercent" />
    <result column="fivegradepercent" jdbcType="TINYINT" property="fivegradepercent" />
    <result column="studysecond" jdbcType="TINYINT" property="studysecond" />
    <result column="averagesecond" jdbcType="TINYINT" property="averagesecond" />
    <result column="accountcount" jdbcType="TINYINT" property="accountcount" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VwCollegeActivityStatistics">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="learningactivityid" jdbcType="TINYINT" property="learningactivityid" />
    <result column="collegeid" jdbcType="TINYINT" property="collegeid" />
    <result column="commentcount" jdbcType="TINYINT" property="commentcount" />
    <result column="favoritecount" jdbcType="TINYINT" property="favoritecount" />
    <result column="footmarkcount" jdbcType="TINYINT" property="footmarkcount" />
    <result column="studiescount" jdbcType="TINYINT" property="studiescount" />
    <result column="onegradepercent" jdbcType="TINYINT" property="onegradepercent" />
    <result column="twogradepercent" jdbcType="TINYINT" property="twogradepercent" />
    <result column="threegradepercent" jdbcType="TINYINT" property="threegradepercent" />
    <result column="foregradepercent" jdbcType="TINYINT" property="foregradepercent" />
    <result column="fivegradepercent" jdbcType="TINYINT" property="fivegradepercent" />
    <result column="studysecond" jdbcType="TINYINT" property="studysecond" />
    <result column="averagesecond" jdbcType="TINYINT" property="averagesecond" />
    <result column="accountcount" jdbcType="TINYINT" property="accountcount" />
  </resultMap>
</mapper>