<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VwCoursestatesMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VwCoursestates">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="learningactivityid" jdbcType="TINYINT" property="learningactivityid" />
    <result column="chapterid" jdbcType="TINYINT" property="chapterid" />
    <result column="accountid" jdbcType="TINYINT" property="accountid" />
    <result column="overed" jdbcType="TINYINT" property="overed" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VwCoursestates">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="learningactivityid" jdbcType="TINYINT" property="learningactivityid" />
    <result column="chapterid" jdbcType="TINYINT" property="chapterid" />
    <result column="accountid" jdbcType="TINYINT" property="accountid" />
    <result column="overed" jdbcType="TINYINT" property="overed" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VwCoursestates">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="learningactivityid" jdbcType="TINYINT" property="learningactivityid" />
    <result column="chapterid" jdbcType="TINYINT" property="chapterid" />
    <result column="accountid" jdbcType="TINYINT" property="accountid" />
    <result column="overed" jdbcType="TINYINT" property="overed" />
  </resultMap>
</mapper>