<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VwCollegeactivityMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VwCollegeactivity">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="collegeId" jdbcType="TINYINT" property="collegeid" />
    <result column="learningActivityId" jdbcType="TINYINT" property="learningactivityid" />
    <result column="public" jdbcType="TINYINT" property="public" />
    <result column="recommend" jdbcType="TINYINT" property="recommend" />
    <result column="createtime" jdbcType="TINYINT" property="createtime" />
    <result column="orderindex" jdbcType="TINYINT" property="orderindex" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VwCollegeactivity">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="collegeId" jdbcType="TINYINT" property="collegeid" />
    <result column="learningActivityId" jdbcType="TINYINT" property="learningactivityid" />
    <result column="public" jdbcType="TINYINT" property="public" />
    <result column="recommend" jdbcType="TINYINT" property="recommend" />
    <result column="createtime" jdbcType="TINYINT" property="createtime" />
    <result column="orderindex" jdbcType="TINYINT" property="orderindex" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VwCollegeactivity">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="collegeId" jdbcType="TINYINT" property="collegeid" />
    <result column="learningActivityId" jdbcType="TINYINT" property="learningactivityid" />
    <result column="public" jdbcType="TINYINT" property="public" />
    <result column="recommend" jdbcType="TINYINT" property="recommend" />
    <result column="createtime" jdbcType="TINYINT" property="createtime" />
    <result column="orderindex" jdbcType="TINYINT" property="orderindex" />
  </resultMap>
</mapper>