<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VwSeriesactivityinfoMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VwSeriesactivityinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="learningActivityId" jdbcType="TINYINT" property="learningactivityid" />
    <result column="name" jdbcType="TINYINT" property="name" />
    <result column="bannerurl" jdbcType="TINYINT" property="bannerurl" />
    <result column="acttype" jdbcType="TINYINT" property="acttype" />
    <result column="accountId" jdbcType="TINYINT" property="accountid" />
    <result column="overed" jdbcType="TINYINT" property="overed" />
    <result column="opentime" jdbcType="TINYINT" property="opentime" />
    <result column="end" jdbcType="TINYINT" property="end" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VwSeriesactivityinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="learningActivityId" jdbcType="TINYINT" property="learningactivityid" />
    <result column="name" jdbcType="TINYINT" property="name" />
    <result column="bannerurl" jdbcType="TINYINT" property="bannerurl" />
    <result column="acttype" jdbcType="TINYINT" property="acttype" />
    <result column="accountId" jdbcType="TINYINT" property="accountid" />
    <result column="overed" jdbcType="TINYINT" property="overed" />
    <result column="opentime" jdbcType="TINYINT" property="opentime" />
    <result column="end" jdbcType="TINYINT" property="end" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VwSeriesactivityinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="learningActivityId" jdbcType="TINYINT" property="learningactivityid" />
    <result column="name" jdbcType="TINYINT" property="name" />
    <result column="bannerurl" jdbcType="TINYINT" property="bannerurl" />
    <result column="acttype" jdbcType="TINYINT" property="acttype" />
    <result column="accountId" jdbcType="TINYINT" property="accountid" />
    <result column="overed" jdbcType="TINYINT" property="overed" />
    <result column="opentime" jdbcType="TINYINT" property="opentime" />
    <result column="end" jdbcType="TINYINT" property="end" />
  </resultMap>
</mapper>