<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderss.jysy.mapper.VwStudyflowMapper">
  <resultMap id="BaseResultMap" type="cn.coderss.jysy.domain.VwStudyflow">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="recordeId" jdbcType="TINYINT" property="recordeid" />
    <result column="studyId" jdbcType="TINYINT" property="studyid" />
    <result column="learningactivityid" jdbcType="TINYINT" property="learningactivityid" />
    <result column="chapterid" jdbcType="TINYINT" property="chapterid" />
    <result column="starttime" jdbcType="TINYINT" property="starttime" />
    <result column="endtime" jdbcType="TINYINT" property="endtime" />
    <result column="exitstates" jdbcType="TINYINT" property="exitstates" />
    <result column="duration" jdbcType="TINYINT" property="duration" />
    <result column="overed" jdbcType="TINYINT" property="overed" />
    <result column="score" jdbcType="TINYINT" property="score" />
    <result column="accountid" jdbcType="TINYINT" property="accountid" />
    <result column="progress" jdbcType="TINYINT" property="progress" />
    <result column="startduration" jdbcType="TINYINT" property="startduration" />
    <result column="physicendtime" jdbcType="TINYINT" property="physicendtime" />
    <result column="terminal" jdbcType="TINYINT" property="terminal" />
    <result column="ending" jdbcType="TINYINT" property="ending" />
    <result column="collegeid" jdbcType="TINYINT" property="collegeid" />
    <result column="enterpriseid" jdbcType="TINYINT" property="enterpriseid" />
    <result column="sucessfuled" jdbcType="TINYINT" property="sucessfuled" />
    <result column="sumduration" jdbcType="TINYINT" property="sumduration" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VwStudyflow">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="recordeId" jdbcType="TINYINT" property="recordeid" />
    <result column="studyId" jdbcType="TINYINT" property="studyid" />
    <result column="learningactivityid" jdbcType="TINYINT" property="learningactivityid" />
    <result column="chapterid" jdbcType="TINYINT" property="chapterid" />
    <result column="starttime" jdbcType="TINYINT" property="starttime" />
    <result column="endtime" jdbcType="TINYINT" property="endtime" />
    <result column="exitstates" jdbcType="TINYINT" property="exitstates" />
    <result column="duration" jdbcType="TINYINT" property="duration" />
    <result column="overed" jdbcType="TINYINT" property="overed" />
    <result column="score" jdbcType="TINYINT" property="score" />
    <result column="accountid" jdbcType="TINYINT" property="accountid" />
    <result column="progress" jdbcType="TINYINT" property="progress" />
    <result column="startduration" jdbcType="TINYINT" property="startduration" />
    <result column="physicendtime" jdbcType="TINYINT" property="physicendtime" />
    <result column="terminal" jdbcType="TINYINT" property="terminal" />
    <result column="ending" jdbcType="TINYINT" property="ending" />
    <result column="collegeid" jdbcType="TINYINT" property="collegeid" />
    <result column="enterpriseid" jdbcType="TINYINT" property="enterpriseid" />
    <result column="sucessfuled" jdbcType="TINYINT" property="sucessfuled" />
    <result column="sumduration" jdbcType="TINYINT" property="sumduration" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.coderss.shop.domain.VwStudyflow">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="recordeId" jdbcType="TINYINT" property="recordeid" />
    <result column="studyId" jdbcType="TINYINT" property="studyid" />
    <result column="learningactivityid" jdbcType="TINYINT" property="learningactivityid" />
    <result column="chapterid" jdbcType="TINYINT" property="chapterid" />
    <result column="starttime" jdbcType="TINYINT" property="starttime" />
    <result column="endtime" jdbcType="TINYINT" property="endtime" />
    <result column="exitstates" jdbcType="TINYINT" property="exitstates" />
    <result column="duration" jdbcType="TINYINT" property="duration" />
    <result column="overed" jdbcType="TINYINT" property="overed" />
    <result column="score" jdbcType="TINYINT" property="score" />
    <result column="accountid" jdbcType="TINYINT" property="accountid" />
    <result column="progress" jdbcType="TINYINT" property="progress" />
    <result column="startduration" jdbcType="TINYINT" property="startduration" />
    <result column="physicendtime" jdbcType="TINYINT" property="physicendtime" />
    <result column="terminal" jdbcType="TINYINT" property="terminal" />
    <result column="ending" jdbcType="TINYINT" property="ending" />
    <result column="collegeid" jdbcType="TINYINT" property="collegeid" />
    <result column="enterpriseid" jdbcType="TINYINT" property="enterpriseid" />
    <result column="sucessfuled" jdbcType="TINYINT" property="sucessfuled" />
    <result column="sumduration" jdbcType="TINYINT" property="sumduration" />
  </resultMap>
</mapper>